<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="zh-CN" lang="zh-CN">
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name="author" content="{{ site.author }}" />
    <title>{% if page.path == 'index.html' %}{{ site.name }}{% else %}{% unless page.id %}{{ site.name }} - {% endunless %}{{ page.title }}{% endif %}</title>
    <link rel="shortcut icon" href="/favicon.ico" />
    <link href="/feed/" rel="alternate" title="{{ site.author }}" type="application/atom+xml" />
    <link rel="stylesheet" href="/media/css/style.css" />
    <link rel="stylesheet" href="/media/css/highlight.css" />
    <script type="text/javascript" src="/media/js/jquery-1.7.1.min.js"></script>
  </head>




<!--脚本说明:
把如下代码加入<body>区域中-->
<SCRIPT language="JavaScript"><!--
function getCookieVal(offset)
{var endstr=document.cookie.indexOf(";",offset);if(endstr==-1)
endstr=document.cookie.length;return unescape(document.cookie.substring(offset,endstr));}function GetCookie(name)
{var arg=name+"=";var alen=arg.length;var clen=document.cookie.length;var i=0;while(i<clen)
{var j=i+alen;if(document.cookie.substring(i,j)==arg)
return getCookieVal(j);i=document.cookie.indexOf(" ",i)+1;if(i==0)
break;
}return null;}function SetCookie(name,value)


{var argv=SetCookie.arguments;var argc=SetCookie.arguments.length;var expires=(2<argc)?argv[2]:null;var path=(3<argc)?argv[3]:null;var domain=(4<argc)?argv[4]:null;var secure=(5<argc)?argv[5]:false;document.cookie=name+"="+escape(value)+((expires==null)?"":("; expires="+expires.toGMTString()))+((path==null)?"":("; path="+path))+((domain==null)?"":("; domain="+domain))+((secure==true)?"; secure":"");}function ResetCounts(name)

{visits=0;SetCookie("visits",visits,expdate,"/",null,false);location.reload();}
//-->

</SCRIPT>
<!--
<SCRIPT language="JavaScript"><!--
var expdate=new Date();
var visits;//以下设置COOKIES时间为1年,自己随便设置该时间..
expdate.setTime(expdate.getTime()+(24*60*60*1000*365));

if(!(visits=GetCookie("visits")))

visits=0;visits++;SetCookie("visits",visits,expdate,"/",null,false);//以下信息显示可以使用标准的HTML语法,自己随便设置。
document.write("访问："+"<FONT COLOR=red>"+visits+"</FONT>"+"次！");
//-->
</SCRIPT>

  <body >
    <div id="container">
      <div id="main" role="main">
        <header>
        <h1>{{ page.title }}</h1>
        </header>
        <nav>
        <span><a title="网站首页" class="" href="/">首页</a></span>
        <span><a title="文章分类" class="" href="/categories/">分类</a></span>
        <span><a title="标签索引" class="" href="/tags/">标签</a></span>
        <!--<span><a title="友情链接" class="" href="/links/">链接</a></span>-->
        <span><a title="留言交流" class="" href="/guestbook/">留言</a></span>
        <span><a title="关于站长" class="" href="/about/">关于</a></span>
        </nav>
        <article class="content">
        {{ content }}
        </article>
      </div>

    <footer>
        <p><small>
            <a href="http://github.com/{{ site.github }}/NET/new/gh-pages/_posts" target="_blank" title="撰写文章">Po</a>wer<a href="http://github.com/{{ site.github }}/NET/edit/gh-pages/{{ page.path }}" target="_blank" title="编辑页面">ed</a> by <a href="http://jekyllrb.com" target="_blank">Jekyll</a> @ <a href="http://github.com/{{ site.github }}/NET" target="_blank" title="项目主页">GitHub</a>
             | <a rel="license" href="http://creativecommons.org/licenses/by-sa/3.0/cn/" target="_blank" title="许可协议">©</a> 2014 - {{site.time | date:"%Y"}} <a href="/about/">{{ site.author }}  

        <SCRIPT language="JavaScript"><!--
        var expdate=new Date();
        var visits;//以下设置COOKIES时间为1年,自己随便设置该时间..
        expdate.setTime(expdate.getTime()+(24*60*60*1000*365));

        if(!(visits=GetCookie("visits")))

        visits=0;visits++;SetCookie("visits",visits,expdate,"/",null,false);//以下信息显示可以使用标准的HTML语法,自己随便设置。
        document.write("访问："+"<FONT COLOR=red>"+visits+"</FONT>"+"次！");
        //-->
    </SCRIPT> </a>
<!--{% if site.beian %}
             | <a href="http://www.miibeian.gov.cn" target="_blank">{{ site.tongji }}</a>
{% endif %} -->
{% if site.tongji %}
             | {% include tongji.html %}
{% endif %}
         </small></p>
    </footer>

    </div>
<!-- Baidu Button BEGIN -->
    <script type="text/javascript" id="bdshare_js" data="type=slide&mini=10&pos=right" ></script> 
    <script type="text/javascript" id="bdshell_js"></script> 
    <script type="text/javascript">
  /**
   * 在这里定义bds_config
   */
  var bds_config = {"bdTop":170};
    document.getElementById('bdshell_js').src = "http://bdimg.share.baidu.com/static/js/shell_v2.js?cdnversion=" + Math.ceil(new Date()/3600000);
  </script>
<!-- Baidu Button END -->

</html>
